*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  background: #ffffff;
}
header{
  height: 20vh;
  text-align: center;
  border-bottom: 2px solid #1c1c1e;
  display: flex;
}
.hh1{
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-self: center;
}
.homdiv{
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hom{
  background: #e3f2fd;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  font-size: 15px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
main{
  display: flex;
  height: 65vh;
  justify-content: center;
}
h1{
  font-size: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.clock{
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.hr,.mi,.sc{
  color: #1c1c1e;
  height: 40px;
  width: 40px;
  background-color: #e6f4ea;
  border:  solid #1c1c1e;
  border-radius: 15px;
  align-content: center;
  text-align: center;
  font-size: 30px;
}
.apm{
  color: #1c1c1e;
  height: 30px;
  width: 30px;
  background-color: #e6f4ea;
  border:  solid #1c1c1e;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  font-size: 15px;
}
.alarmadd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 65vh;
}
.alarms{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
}
#addalarm{
  background-color: #e3f2fd;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  font-size: 30px;
  cursor: pointer;
  font-size: 15px;
}
#refresh{
  background-color: #e3f2fd;
  height: 40px;
  width: 100px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  font-size: 15px;
}
.stpdiv{
  align-self: center;
  display: flex;
  justify-content: start;
  width: 10vw;
}
.stp{
  cursor: pointer;
  background-color: #e3f2fd;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.alarms{
  height: 65vh;
  border-left: 2px solid #1c1c1e;
  align-items: center;
}
#alarm{
  display: grid;
  grid-auto-rows: 50px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.jsaddalarm{
  background-color: #e6f4ea;
  height: 50px;
  width: 800px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  border-radius: 30px;
}
.tm{
  font-size: 20px;
}
.dbtn{
  cursor: pointer;
  background-color: #e8f0fe;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  text-align: center;
  align-content: center;
}
footer{
  height: 15vh;
  background-color: black;
  display: flex;
}
.left
{
  color: #ffffff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}
.left a{
  color: #ffffff;
  text-decoration: none;
}
.right{
  width: 50vw;
  align-items: center;
  display: flex;
  justify-content: center;
}